@model WebApplication1.ViewModel.GuestbooksViewsModel

@{
    ViewBag.Title = "GetDataList";
}

<div id="DataList" style="margin-top:20px;font-size:20px">

    @using (Ajax.BeginForm("GetDataList", "Guestbooks"
        , new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace, //回傳資料將以何種方式放置在 HTML Element
    UpdateTargetId = "DataList"  //指定回傳的資料要放置在哪個HTML Element
}))
    {
        <p style="font-size:40px">留言板</p>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Search)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Search)
                </td>
                <td>
                    <input type="submit" value="搜尋" />
                </td>
            </tr>
        </table>
    }
<table>
    @if (!Model.DataList.Count.Equals(0))
    {
        foreach (var item in Model.DataList)
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.DataList[0].Member.Name)
                </td>
                <td>
                    @item.Member.Name
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.DataList[0].CreateTime)
                </td>
                <td>
                    @item.CreateTime
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.DataList[0].Content)
                </td>
                <td colspan="3">
                    @item.Content
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.DataList[0].Reply)
                </td>
                <td colspan="3">
                    @item.Reply
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.DataList[0].ReplyTime)
                </td>
                <td>
                    @item.ReplyTime
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    @Html.ActionLink("修改留言", "Edit", new { Id = item.Id })
                    @if (User.IsInRole("Admin")) 
                    { 
                        @Html.ActionLink("回覆留言", "Reply", new { Id = item.Id })
                        @Html.ActionLink("刪除留言", "Delete", new { Id = item.Id })
                    }
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    ---------------------------------------------------------------
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="4">
                資料庫內查無留言
            </td>
        </tr>
    }
    <tr>
        <td>
            @if (Model.Paging.NowPage > 1)
            {
                @Ajax.ActionLink("<<", "GetDataList", new { Page = 1, Search = Model.Search }
                    , new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "DataList"
                    })
                @Ajax.ActionLink("<", "GetDataList", new { Page = Model.Paging.NowPage - 1, Search = Model.Search }
                    , new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "DataList"
                    })
            }
        </td>
        <td>
            @for (var page = (Model.Paging.NowPage - 6); page < (Model.Paging.NowPage + 6); page++)
            {
                if ((page > 0) && (page <= Model.Paging.MaxPage))
                {
                    if (page == Model.Paging.NowPage)
                    {
                        <b>@page</b>
                    }
                    else
                    {
                        @Ajax.ActionLink(page.ToString(), "GetDataList", new { Page = page, Search = Model.Search }
                            , new AjaxOptions
                            {
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "DataList"
                            })
                    }
                }
            }
        </td>
        <td>
            @if (Model.Paging.NowPage < Model.Paging.MaxPage)
            {
                @Ajax.ActionLink(">", "GetDataList", new { Page = Model.Paging.NowPage + 1, Search = Model.Search }
                    , new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "DataList"
                    })
                @Ajax.ActionLink(">>", "GetDataList", new { Page = Model.Paging.MaxPage, Search = Model.Search }
                    , new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "DataList"
                    })
            }
        </td>
    </tr>
</table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
